<!--
   Julia Evans
   5/13/2020
   Interests Page
   -->

<!DOCTYPE html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>Chasing Tail &#128062; Interests</title>
</head>

<body>

<!--Nav bar-->
<include href="includes/nav.html"></include>

<!--Page content-->
<div class="container mt-5">
    <h1>Interests</h1>
    <hr>

    <form action="#" method="POST">

        <!-- Indoor Interests -->
        <label><strong>Indoor Interests</strong></label>
        <div class="row mb-3 px-3">
            <repeat group="{{ @indoorInterests }}" value="{{ @interest }}">
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ @interest }}" id="{{ @interest }}" name="indoorInterests[]">
                        <label class="form-check-label" for="{{ @interest }}">
                            {{ @interest }}
                        </label>
                    </div>
                </div>
            </repeat>
        </div>

        <!-- Outdoor Interests -->
        <label><strong>Outdoor Interests</strong></label>
        <div class="row px-3">
            <repeat group="{{ @outdoorInterests }}" value="{{ @interest }}">
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ @interest }}" id="{{ @interest }}" name="outdoorInterests[]">
                        <label class="form-check-label" for="{{ @interest }}">
                            {{ @interest }}
                        </label>
                    </div>
                </div>
            </repeat>
        </div>

        <!-- Next button -->
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <!--                    <a class="btn btn-primary" href="summary" role="button">Next ></a>-->
                    <button type="submit" class="btn btn-primary">Next ></button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>