<!--
   Julia Evans
   5/13/2020
   Profile Page
   -->

<!DOCTYPE html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>Chasing Tail &#128062; Create Profile</title>
</head>

<body>

<!--Nav bar-->
<include href="includes/nav.html"></include>

<!--Page content-->
<div class="container mt-5">
    <h1>Profile</h1>
    <hr>

    <form action="#" method="POST" class="mb-3">
        <div class="row">
            <div class="col-md-6 mt-3">

                <!-- Email -->
                <div class="form-group">
                    <label for="email"><strong>Email</strong></label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ @email }}" placeholder="my_email@gmail.com">
                    <check if="isset(@errors['email'])">
                        <div class="small my-1 py-1 alert alert-danger" role="alert">{{ @errors['email'] }}</div>
                    </check>
                </div>

                <!-- State -->
                <label for="email"><strong>State</strong></label>
                <select class="custom-select mb-3" name="state">
                    <check if="isset({{ @selectedState }})">
                        <true>
                            <option></option>
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ @state }}" <check if="{{ @selectedState == @state }}">selected</check>>{{ strtoupper(@state) }}</option>
                            </repeat>
                        </true>
                        <false>
                            <option selected></option>
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ @state }}">{{ strtoupper(@state) }}</option>
                            </repeat>
                        </false>
                    </check>
                </select>

                <!-- Gender Interests -->
                <label><strong>Seeking</strong></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="male" name="genderSeeking" value="male" <check if="{{ @genderSeeking == 'male' }}">checked='checked'</check>>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="female" name="genderSeeking" value="female" <check if="{{ @genderSeeking == 'female' }}">checked='checked'</check>>
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>

            <div class="col-md-6 mt-3">

                <!-- Bio -->
                <div class="form-group">
                    <label for="bio"><strong>Biography</strong></label>
                    <textarea class="form-control" id="bio" name="bio" rows="5">{{ @bio }}</textarea>
                </div>
            </div>

        </div>

        <!-- Next button -->
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Next ></button>
                </div>
            </div>
        </div>

    </form>
</div>

</body>
</html>