<!--
Julia Evans
5/13/2020
Profile Summary Page
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>Chasing Tail &#128062; Profile Summary</title>
</head>

<body>
<!--Nav bar-->
<include href="includes/nav.html"></include>

<!--Page content-->
<div class="container mt-5">

    <h1>Profile Summary</h1>
    <hr>

    <div class="row px-5 mx-5">

        <div class="col-md-6">

            <!-- Summary List -->
            <ul class="list-group">
                <li class="list-group-item">Name: </li>
                <li class="list-group-item">Gender: </li>
                <li class="list-group-item">Age: </li>
                <li class="list-group-item">Phone: </li>
                <li class="list-group-item">Email: </li>
                <li class="list-group-item">State: </li>
                <li class="list-group-item">Seeking: </li>
                <li class="list-group-item">Interests: </li>
            </ul>

        </div>

        <div class="col-md-6">

            <!-- Image -->
            <div class="text-center">
                <img class="img-fluid " src="/328/dating/images/profile.png" alt="profile">
            </div>

            <!-- Bio -->
            <p class="lead">Biography</p>
            <p class="text-center">asldkfjlasdkjf lsajkdfklsjdf slkdfjklsjdf</p>

        </div>

    </div>

    <!-- Contact button -->
    <div class="text-center m-3">
        <button type="button" class="btn btn-primary btn-lg">Contact Me!</button>
    </div>

</div>

</body>
</html>